@page "/room"

<!DOCTYPE html>
<html>
<body>
    <div class="d-flex align-items-center" style="height: 40px; background-color: #6c757d;">
        <DropdownWidget>
            <DropdownWidgetItem Icon="fa fa-hand-pointer-o" BadgeNumber="@BoBingRoom.GetPrizesRemaining(Data.BoBingAwardType.Award1).ToString()" BadgeColor="Color.Success" />
            <DropdownWidgetItem Icon="fa fa-hand-peace-o" BadgeNumber="@BoBingRoom.GetPrizesRemaining(Data.BoBingAwardType.Award2).ToString()" BadgeColor="Color.Success" />
            <DropdownWidgetItem Icon="fa fa-hand-spock-o" BadgeNumber="@BoBingRoom.GetPrizesRemaining(Data.BoBingAwardType.Award3).ToString()" BadgeColor="Color.Success" />
            <DropdownWidgetItem Icon="fa fa-hand-lizard-o" BadgeNumber="@BoBingRoom.GetPrizesRemaining(Data.BoBingAwardType.Award4).ToString()" BadgeColor="Color.Success" />
            <DropdownWidgetItem Icon="fa fa-hand-paper-o" BadgeNumber="@BoBingRoom.GetPrizesRemaining(Data.BoBingAwardType.Award5).ToString()" BadgeColor="Color.Success" />
            <DropdownWidgetItem Icon="fa fa-thumbs-o-up" BadgeNumber="@BoBingRoom.GetPrizesRemaining(Data.BoBingAwardType.Award6).ToString()" BadgeColor="Color.Success" />
        </DropdownWidget>
    </div>
    <div class="main">
        <div class="bowl" id="dicebox">
            <img class="bg_img" src="_content/BoBing.Shared/images/bowl.jpg" />
        </div>
    </div>

    <div class="btn-box">
        <Button Text="@ThrowButtonText" IsDisabled="@(!ThrowingDiceable)" OnClick="@ThrowingDice" />
    </div>
</body>
</html>
