@inherits LayoutComponentBase

<Layout SideWidth="0"
        IsPage="true"
        ShowGotoTop="true"
        ShowCollapseBar="true"
        IsFullSide="true"
        IsFixedHeader="true"
        IsFixedFooter="false"
        ShowFooter="false"
        UseTabSet="false"
        TooltipText=""
        AdditionalAssemblies="new[] { GetType().Assembly }">
    <Header>
        <span class=" flex-sm-fill "></span>
        <div class="ms-3 flex-sm-fill d-sm-block">
            <DropdownWidget>
                <DropdownWidgetItem ShowArrow="false" Icon="fa fa-hand-pointer-o" BadgeNumber="@BoBingLocalService.PrizesPool.GetPrizesRemainingCount(Data.BoBingAwardType.Award1).ToString()" BadgeColor="Color.Success" />
                <DropdownWidgetItem ShowArrow="false" Icon="fa fa-hand-peace-o" BadgeNumber="@BoBingLocalService.PrizesPool.GetPrizesRemainingCount(Data.BoBingAwardType.Award2).ToString()" BadgeColor="Color.Success" />
                <DropdownWidgetItem ShowArrow="false" Icon="fa fa-hand-spock-o" BadgeNumber="@BoBingLocalService.PrizesPool.GetPrizesRemainingCount(Data.BoBingAwardType.Award3).ToString()" BadgeColor="Color.Success" />
                <DropdownWidgetItem ShowArrow="false" Icon="fa fa-hand-lizard-o" BadgeNumber="@BoBingLocalService.PrizesPool.GetPrizesRemainingCount(Data.BoBingAwardType.Award4).ToString()" BadgeColor="Color.Success" />
                <DropdownWidgetItem ShowArrow="false" Icon="fa fa-hand-paper-o" BadgeNumber="@BoBingLocalService.PrizesPool.GetPrizesRemainingCount(Data.BoBingAwardType.Award5).ToString()" BadgeColor="Color.Success" />
                <DropdownWidgetItem ShowArrow="false" Icon="fa fa-thumbs-o-up" BadgeNumber="@BoBingLocalService.PrizesPool.GetPrizesRemainingCount(Data.BoBingAwardType.Award6).ToString()" BadgeColor="Color.Success" />
            </DropdownWidget>
        </div>
        <div class="layout-drawer" @onclick="@(e => IsOpen = !IsOpen)"><i class="fa fa-gavel"></i></div>
    </Header>
    <Side>
        <div class="layout-banner">
            <div class="layout-title">
            </div>
        </div>
        <div class="layout-user">
            <div class="layout-title">
                <span>@BoBingLocalService.LocalParticipantName</span>
            </div>
        </div>
    </Side>
    <Main>
        <CascadingValue Value="this" IsFixed="true">
            @Body
        </CascadingValue>
    </Main>
    <NotFound>
        <p>Sorry, there's nothing at this address.</p>
    </NotFound>
</Layout>

<Drawer Height="80%" Placement="Placement.Top" @bind-IsOpen="@IsOpen" IsBackdrop="true">
    <img class="img-fluid"
         style="width: 100%; display: block; max-width: 100%; height: auto;"
         src="_content/BoBing.Shared/images/bobing_rule.jpg" />
</Drawer>

<Toast />
<Dialog />
<PopoverConfirm />
<Message />
<SweetAlert />
